{% extends 'base.html' %}



{% block content %}
 <div class="container border rounded mx-auto mt-4">
    <h3 class="alert border rounded">Login</h3>
    <form action="/login" method="post">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif%}


        {% csrf_token%}
        <div>
          <label for="Email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name='email'  value="{{value.email}}">
          <div id="email" class="form-text"></div>
        </div>


        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name='password'>
        </div>


          

        <button  type="submit" class="btn btn-primary mb-4 mt-3">Login</button>
      </form>
 </div>
{% endblock %}